[phases.setup]
nixPkgs = ["php82", "composer", "nodejs-18_x", "npm"]

[phases.install]
cmds = [
  "composer install --optimize-autoloader --no-dev",
  "npm install",
  "npm run build"
]

[phases.build]
cmds = [
  "php artisan key:generate --force",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache",
  "php artisan storage:link"
]

[start]
cmd = "php artisan serve --host=0.0.0.0 --port=$PORT"

